/* CSS aanbod.php */

:root {
    --main-color: #2E61B0;
    --main-color-light: #4570b0;
}

.filter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.slider-text {
    margin: 20px;
    font-weight: normal;  
    color: gray;
}

.slider-text.active {
    font-weight: bold;
    color: var(--main-color);
}

.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--main-color);
    border-radius: 34px;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--main-color);
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(46px);
    -ms-transform: translateX(46px);
    transform: translateX(46px);
}

.grid-container {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0); 
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.card-link {
    text-decoration: none;
    color: inherit; 
}

.card-image {
    height: 0;
    padding-bottom: 66.66%;
    background-size: cover;
    background-position: center;
}

.card-info {
    padding: 15px;
    background-color: #f8f8f8;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.card-gemeente {
    font-size: 15px;
    color: #333;
    margin: 5px 0;
}

.card-prijs {
    font-size: 18px;
    color: #d35400;
    font-weight: bold;
    margin: 0;
}
