/* CSS aanbod.php */

.filter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.slider-text {
    margin: 20px;
    font-weight: normal;
    color: gray;
}

.slider-text.active {
    font-weight: bold;
    color: var(--main-color);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;

}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--main-color);
    border-radius: 24px;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--main-color);
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
}

/* =============== Grid panden ===============*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px 0;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    flex-grow: 1;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    /* overflow: hidden; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.disabled-link {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: inherit;
}

/* ============= START images ============= */

.card-carousel {
    width: 100%;
    height: auto;
    
    position: relative;
    margin: auto;
    overflow: hidden;
}

.card-image-container {
    display: flex;
    transition: transform 0.5s ease;
    will-change: transform;
}

.card-image {
    flex: 0 0 100%;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    padding-bottom: 66.66%;
}

/* ============= card info ============= */

.card-info {
    padding: 15px;
    background-color: #f8f8f8;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px); */
}

.card-title,
.card-gemeente,
.card-prijs {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.card-gemeente {
    font-size: 15px;
    color: #333;
    margin: 5px 0;
}

.card-prijs {
    font-size: 18px;
    color: var(--main-color);
    font-weight: bold;
    margin: 0;
}

/* ======================== ribbon ======================== */

.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
}

.ribbon::before,
.ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #2980b9;
}

.ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    background-color: #3498db;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    color: #fff;
    font: 700 15px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-transform: uppercase;
    text-align: center;
}

/* top right*/
.ribbon-top-right {
    top: -7px;
    right: -7px;
}

.ribbon-top-right::before,
.ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
}

.ribbon-top-right::before {
    top: 0;
    left: 0;
}

.ribbon-top-right::after {
    bottom: 0;
    right: 0;
}

.ribbon-top-right span {
    left: -25px;
    top: 30px;
    transform: rotate(45deg);
    z-index: 20;
}

/* Ribbon new */

.ribbon-new span {
    background: var(--main-color);
}

.ribbon-new::before,
.ribbon-new::after {
    border: 5px solid var(--main-color-dark);
}

/* Ribben sold/rented */

.ribbon-sold span {
    background: var(--secundary-color);
}

.ribbon-sold::before,
.ribbon-sold::after {
    border: 5px solid var(--secundary-color-dark);
}