/* CSS footer.php */

footer {
    width: 100%;
    background-color: #e1e1e1;
    color: #333;
    text-align: center;
    padding: 10px 0;
    font-family: 'Roboto Condensed', sans-serif;
}

footer p {
    margin: 5px 0;
    font-size: small;
}

.footer-email {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s;
}

.footer-email:hover {
    color: var(--secundary-color);
}
