/* CSS footer.php */

footer {
    background-color: #e1e1e1;
    color: #333;
    text-align: center;
    padding: 5px 0;
    width: 100%;
}

.footer-div {
    margin: 0 auto;
    padding: 10px;
}

.footer-div p {
    margin: 5px 0;
    font-size: small;
}

@media (max-width: 600px) {
    .footer-div {
        padding: 10px;
    }
}