/* CSS footer.php */

footer {
    box-sizing: border-box;
    width: 100%;
    background-color: #e1e1e1;
    color: #333;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 5px 0;
    font-size: small;
}
