/* CSS header.php */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --main-color: #2E61B0;
    --main-color-light: #4570b0;
}

html,
body {
    height: 100%;
    margin: 0;
    background-color: rgb(246, 246, 246);
    font-family: "Roboto Condensed", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#wrapper {}

header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    justify-content: space-between;
    padding: 0 15px;
}

#logo-div {
    text-align: center;
}

#logo-link {
    
}

#logo {
    height: 120px;
    width: auto;
    margin: 10px;
    padding-left: 30px;
}

#header-nav {
    display: flex;
    padding: 10px;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}

#header-nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
}

#header-nav ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-link {
    text-decoration: none;
    color: var(--main-color);
    padding: 10px 20px;
    margin: 0 10px;
    text-align: center;
}

.active .header-link {
    font-weight: bold;
    cursor: default;
}

#header-nav ul li::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--main-color);
    transition: width 0.3s ease;
}

#header-nav ul li:hover::after {
    width: 80%;
}

#header-nav ul li.active::after {
    width: 80%;
}

#logo-and-icon-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#hamburger-icon {
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 50px;
    width: 30px; 
    height: 25px;
    display: none;
}

#hamburger-icon span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #333;
    border-radius: 3px;
    transition: all 0.3s ease;
}

#hamburger-icon.active span:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
}

#hamburger-icon.active span:nth-child(2) {
    opacity: 0;
}

#hamburger-icon.active span:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column; 
    }

    #logo-div {
        flex: 1; 
        text-align: left;
    }

    #logo {
        height: 100px;
        padding-left: 0;
    }

    #header-nav {
        flex: 1; 
        justify-content: flex-end; 
        padding: 0;
    }
    
    #header-nav ul {
        display: none; 
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #header-nav ul li {
        text-align: center;
    }

    #hamburger-icon {
        display: flex;
    }
}