/* CSS header.php */

#logo {
    height: 80px;
}

/* ============== Title ============== */

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
    /* padding: 20px; */
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    border: 1px solid var(--secundary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* box-shadow:
    -50px -50px 0 -45px var(--secundary-color),
    50px 50px 0 -45px var(--secundary-color); */
    transform: translateY(30px);
    opacity: 0;
    animation: slideUp 0.5s ease forwards 0.3s;

}

.main-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    font-family: 'Baskerville Old Face', serif;
    font-size: 4vw; 
}


@keyframes slideUp {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (min-width: 768px) {
    .main-title {
        font-size: 3rem; 
    }
}

@media (max-width: 480px) {
    .main-title {
        font-size: 2rem; 
    }
}


/* ============== homepage carousel ============== */

.swiper {
    width: 100%;
    height: fit-content;
}

.swiper-wrapper {
    
}

.swiper-slide {
    width: 100%;
}

.swiper-slide::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--main-color);
    opacity: 0.6;
    z-index: 4;
    transition: 0.3s;
}

.swiper-slide-active::before {
    opacity: 0;
}

.carousel-card {
    display: flex;
    justify-content: center;
    max-height: 400px;
}

.carousel-card img {
    width: 100%;
    height: 250px;
    opacity: 0.99;
}

.swiper-slide, .carousel-card img {
    object-fit: cover;
}



@media (max-width: 480px) {
    .carousel-card img {
        width: 70%;
        height: 200px;
    }
}


@media (min-width: 1300px) {
    .carousel-card img {
        width: 70%;
        height: 300px;
    }
}

/* ============== Content ==============*/

#content-container {
    width: 100%;
    margin: 0;
}

.content-section {
    width: 75%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    will-change: opacity, transform;
}

.content-section.right {
    margin: 20px 0 20px auto;
    transform: translateX(100px);
}

.content-section.left {
    margin: 20px auto 20px 0;
    transform: translateX(-100px);
}

.content-section.visible {
    opacity: 1;
    transform: translateX(0px);
}

.content-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.content-section p {
    font-size: 1em;
}

.content-section:hover {
    transform: translateY(-5px);
}

@media screen and (max-width: 768px) {
    #logo {
        height: 100px;
    }

    .content-section {
        width: 80%;
    }

}