@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --background-color: rgb(255, 255, 255);

    /* --main-color: #f36d6b; */

    --main-color: #DCAF99;

    --main-color-lighter: rgb(241, 152, 150);
    --main-color-lightest: rgb(240, 188, 187);

    --main-color-darker: rgb(242, 70, 67);
    --main-color-darkest: rgb(238, 30, 26);

    --opacity: #ffffff9a;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100vh;
    width: 100%;
}

.container {
    background-image: url('./img/whiteBackground.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
}

/* Header */

.header-container {
    display: flex;
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    background-color: var(--main-color);
    justify-content: space-between;
    margin-bottom: 2em;
}

.header-img-container {
    display: flex;
    height: 4em;
    align-content: center;
    flex-wrap: wrap;
}

.header-img-container a {
    height: 3em;
    padding-left: 1em;
}

.header-img {
    height: 3em;
    filter: invert(1);
    transition: 0.2s;
}

.header-img:hover {
    height: 3.2em;
}

.header-list {}


.header-listitem {
    display: inline-block;
    margin: 1em;
}

.header-listitem.active {
    font-size: 1.2em;
    font-weight: bold;
}

.header-link {
    color: white;
    text-decoration: none;
    transition: 0.1s;
}

.header-link:hover {
    cursor: pointer;
    font-weight: bold;
}

@media screen and (max-width: 768px) {

    header {
        flex-direction: column;
        padding-bottom: 1em;
        justify-content: center;
        text-align: center;
    }

    .header-img-container {
        align-self: center;
    }

    .header-list {
        display: flex;
        flex-direction: column;
    }


    .header-listitem {
        display: inline-block;
        margin: 1em;
        height: 0.2em;
    }

    .header-img-container a {
        height: 2em;
        padding: 0;
    }

}

@media screen and (min-width: 1600px) {
    #index-container .header-img-container {
        padding-top: 1.8em;
    }

    .header-img-container {
        height: auto;
        align-content: center;
    }

    .header-img-container a {
        height: auto;
    }

    .header-img {
        height: 3em;
    }

    .header-img:hover {
        height: 3.2em;
    }

    .header-listitem.active {
        font-size: 1.2vw;
    }

    .header-link {
        font-size: 1vw;
    }
}

/* Index <------------------------------------------------- */

#index-container {
    background-image: url('./img/whiteBackground.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

/* Index links */

#left-wrapper {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    /* height: 100vh; */
    max-width: 50%;
    padding-right: 1em;
}

@media screen and (min-width: 769px) {
    #left-wrapper {
        height: 100vh;
    }
}

#left-wrapper .header-img-container {
    display: flex;
    filter: invert(1);
    left: 0;
    top: 0;
    /* justify-self: flex-start; */
}

#left-wrapper .header-img-container a .header-img:hover {
    height: 3em;
    cursor: auto;
}

#left-wrapper #text-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 2em;
    padding-top: 2vw;
}

#left-wrapper h1,
#left-wrapper h3 {
    /* text-transform: uppercase; */
    /* color: #DCAF99;
    text-shadow: 1px 1px 1px black; */
}

#left-wrapper h1 {
    display: flex;
    font-size: 6vh;
    border-bottom: 0.5px solid #696969;
}

#left-wrapper h3 {
    display: flex;
    font-size: 4vh;
    /* border-bottom: 0.5px solid #000000; */
}

/* Knoppen index links */

#button-container {
    display: flex;
    flex-direction: column;
    margin-top: 5vw;
    align-content: center;
    flex-wrap: wrap;
}

#button-container a {
    margin-bottom: 0.5em;
    padding: 1em;
    font-size: 2vh;
    width: 70%;
    text-decoration: none;
    background-color: var(--opacity);
    color: #000000;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    box-shadow: 6px 4px 8px rgba(0, 0, 0, 0.2);
    /* animation: growAndShrink 4s infinite; */
    transition:
        background-color 0.2s,
        border-color 0.2s,
        border 0.2s,
        padding 0.2s,
        border-radius 0.2s,
        font-size 0.2s,
        transform 0.4s;
}

#button-container a:hover {
    background-color: var(--main-color);
    border-color: #ccc;
    border: 2px solid #ddd;
    padding: 1.2em;
    border-radius: 6px;
    font-size: 2.5vh;
    /* animation: none; */
}

#button-container a:active {
    animation: shrinkAndRestore 0.5s ease-out;
}

@keyframes shrinkAndRestore {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.6);
    }

    100% {
        transform: scale(1);
    }
}

/* @keyframes growAndShrink {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  } */


/* #button1 {
    animation-delay: 0s;
}
#button2 {
    animation-delay: 0.5s;
}
#button3 {
    animation-delay: 1s;
}
#button4 {
    animation-delay: 1.5s;
} */

/* Afbeeldingen index */

#img-container {
    display: flex;
    flex-direction: row;
    min-width: 40%;
    max-width: 50%;
    align-items: center;
    padding-right: 1em;
}

#text-image-wrapper {
    width: 40%;
    padding-bottom: 2em;
}

#text-image {
    width: 100%;
    opacity: 0;
    transform: translateX(-30px);
    animation: moveImg 0.5s linear forwards;
    animation-delay: 1.5s;
}

#head-image-wrapper {
    width: 60%;
}

#head-image {
    width: 100%;
    opacity: 0;
    transform: translateX(30px);
    animation: moveImg 0.5s linear forwards;
    animation-delay: 0.5s;
}

@keyframes moveImg {
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@media screen and (max-width: 768px) {
    #index-container {
        flex-direction: column;
        width: 100%;
    }

    #left-wrapper {
        min-width: 100%;
        max-width: 100%;
        width: 100%;
    }

    #index-container .header-img-container {
        align-self: flex-start;
        padding-left: 1em;
    }

    #img-container {
        padding-top: 5vh;
    }

    #left-wrapper h1 {
        font-size: 8vw;
    }

    #left-wrapper h3 {
        font-size: 5vw;
    }

    #button-container a {
        font-size: 4vw;
    }

}

/* Neurologische stoornissen <-----------------------------------  */

#stoornissen-container {
    width: 80%;
    background-color: var(--opacity);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2em;
}

#stoornissen-container h1 {
    text-align: center;
}

#stoornissen-container h2 {
    padding-top: 1em;
    margin-bottom: 0.6em;
    border-bottom: 0.5px solid #696969;
}

/* Praktisch <----------------------------------- */



/* Documenten <-----------------------------------  */

#documenten-container {
    margin-top: 20px;
}

#documenten-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 16px;
}

.grid-item {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
}

.grid-item:hover {
    background-color: #e0e0e0;
}

/* Contact <-----------------------------------  */

.form-container {
    width: 40%;
    background-color: var(--opacity);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 2em;
}

@media screen and (max-width: 768px) {
    .form-container {
        width: 80%;
    }
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container textarea {
    height: 100px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--main-color);
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.form-container button:hover {
    background-color: var(--main-color-darkest);
}

#extra-contact-container {
    padding-top: 10px;
}

#extra-contact-container p {
    color: #696969;
}