/* Index.css */

#index-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

/* ================== info & titles ================== */

#info-title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2em;
    gap: 3em;
}

.content h2 {
    font-size: 1.5em;
    margin-bottom: 1.2em;
}

/* =========== info content =========== */

#info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -15%;
}

/* Profile picture */

#profile-picture {
    width: 80%;
    height: auto;
}

/* Links to socials */

.content a {
    filter: invert(1);
}

.content a img {
    transition: 0.3s;
}

.content a img:hover {
    transform: scale(1.1)
}

#hexagon-socials {
    transform: translateX(50%) translateY(-23%);
}

/* Vennootschap */

#hexagon-vennootschap {
    transform: translateY(-46%);
}

#hexagon-vennootschap p {
    font-size: 1.8em;
}

/* =========== title content =========== */

#title-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 150px;
    color: var(--primary-color); 
    opacity: 0;
    animation: slideFadeIn 1.5s forwards 0.5s;
}

#title-container h1 {
    position: relative; 
    margin-bottom: 20px; 
    font-size: 3em; 
    font-weight: 300; 
    letter-spacing: 2px; 
}

#title-container h1::after {
    content: ''; 
    display: block; 
    margin: 0 auto; 
    width: 0; 
    height: 2px;
    background: var(--primary-color);
    position: absolute; 
    bottom: -10px;
    left: 0;
    right: 0;
    animation: growLine 1.5s ease-in 1s forwards;
}

@keyframes growLine {
    from {
        width: 0;
    }
    to {
        width: 85%;
    }
}

#title-container h2 {
    font-size: 1.5em; 
    font-weight: 300; 
    letter-spacing: 1px; 
    opacity: 0.8; 
}

/* Hexagon stylings */

.hexagon-tile {
    background-color: #00001B;
    width: var(--hexagon-width);
    height: calc(var(--hexagon-width) * 1.15);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); /* Shape the div into a hexagon */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    opacity: 0;
    animation: slideFadeInNoTranslate 1s forwards 1.5s;
}

@keyframes slideFadeInNoTranslate {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hexagon-tile.glass {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
    opacity: 0;
    animation: slideFadeInNoTranslate 1.5s forwards 0.5s;
}

@keyframes slideFadeIn {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.hexagon-tile.glass#hexagon-profile:hover {
    transform: scale(1.03) translateY(0);
}

.hexagon-tile#hexagon-socials:hover {
    transform: scale(1.03) translateX(50%) translateY(-23%);
}

.hexagon-tile#hexagon-vennootschap:hover {
    transform: scale(1.03) translateY(-46%);
}

.content {
    padding: 20px; 
    text-align: center; 
    color: #fff;
}

/* =================== banner =================== */

#promo-banner {
    background-color: var(--primary-color); 
    text-align: center; 
    padding: 40px 20px; 
    margin-top: 20px; 
}

#promo-banner h2, #promo-banner p, #promo-banner h3, #promo-banner li {
    color: var(--secundary-color);
}

#promo-banner h2 {
    font-size: 2em; 
    margin-bottom: 10px;
}

#promo-banner p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#promo-banner h3 {
    font-size: 1.5em; 
    margin-top: 20px; 
    margin-bottom: 10px; 
}

#promo-banner ul {
    list-style: none;
    text-align: center; 
    padding: 0;
    margin: 0 auto;
    max-width: 600px;
}

#promo-banner li {
    font-size: 1em;
    margin-bottom: 10px;
}

/* =================== services =================== */

#services-overview {
    background-color: none;
    color: var(--primary-color);
    padding: 40px 20px;
    text-align: center;
}

#services-overview h2 {
    font-size: 2em;
    margin-bottom: 30px;
}

.service {
    margin-bottom: 20px;
}

.service h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.service p {
    font-size: 1em;
}


/* =================== Mobile responsiveness ===================*/

@media (max-width: 768px) {
    :root {
        --hexagon-width : 220px ;
    }
    #info-title-container {
        flex-direction: column-reverse;
        margin-top: 1em;
        gap: 2em;
    }
    #info-container {
        transform: translateX(-13%);
    }
    #title-container {
        margin-top: 8%;
    }
    .content h2 {
        font-size: 1.3em;
        margin-bottom: 0.8em;
    }
    #profile-picture {
        width: 90%;
    }
    #hexagon-vennootschap p {
        font-size: 1.2em;
    }
    #promo-banner h2, #promo-banner p, #promo-banner h3, #promo-banner li {
        padding: 0 10px; 
    }
    #promo-banner ul {
        max-width: 100%;
    }
    #services-overview h2 {
        padding: 0 10px;
    }
    .service h3, .service p {
        padding: 0 10px;
    }
}

@media (max-width: 380px) {
    :root {
        --hexagon-width : 200px ;
    }
}