/* LoginRegister.css */

.login-register-container {
    max-width: 550px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-register-container input[type="text"],
.login-register-container input[type="password"],
.login-register-container input[type="email"],
.login-register-container button {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.login-register-container input[type="text"]:focus,
.login-register-container input[type="password"]:focus,
.login-register-container input[type="email"]:focus {
    outline: none;
    border: 1px solid var(--primary-color);
}


.login-register-container button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-register-container button:hover {
    background-color: var(--primary-color-hover);
}

.error-message {
    color: red;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .login-register-container {
        margin: 10px;
        padding: 10px;
    }
}

.login-register-container button.toggle-button {
    background-color: transparent;
    color: var(--primary-color); 
    border: none;
    cursor: pointer;
}

.login-register-container button.toggle-button:hover {
    text-decoration: underline;
}
