/* RecipeListUser.css */

:root {
    --primary-color: #8EC009;
    --primary-color-hover: #218838;
    --remove-color: #ff0000;
    --remove-color-hover: #cc0000;
}

.recipeListUser-div {

}

.recipe-grid-div {

}

.recipe-grid-div h2 {
    margin-left: 30px;
    color: var(--primary-color);
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    padding: 30px;
}

.recipe-grid-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.recipe-grid-item h3 {
    margin-top: 0;
}

.recipe-grid-item ul {
    list-style-type: none;
    padding: 0;
}

.recipe-grid-item ul li {
    padding: 5px 0;
}

.remove-button {
    background-color: var(--remove-color);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.remove-button:hover {
    background-color: var(--remove-color-hover);
}

.view-details-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 8px 12px;
    margin-right: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.view-details-button:hover {
    background-color: var(--primary-color-hover);
}

@media (max-width: 600px) {
    .view-details-button {
        width: 100%;
        margin-bottom: 10px;
    }
}

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 30px;
    margin-top: 20px;
}

.search-bar input {
    padding: 10px;
    margin-right: 10 px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.search-bar button {
    font-size: x-large;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-bar button:hover {
    background-color: var(--primary-color-hover);
}
