/* RecipeDetail.css */

.recipeDetail-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.recipe-detail {
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.top-line-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.recipe-detail h2,
.recipe-detail h3 {
    margin-top: 10px;
    color: var(--primary-color);
}

.recipe-detail ul {
    list-style-type: none;
    padding: 0;
}

.recipe-detail ul li {
    padding: 5px 0;
    border-bottom: 1px solid var(--border-color);
}

.remove-button,
.save-button {
    margin: 0 auto;
    width: 100px;
    background-color: var(--remove-color);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.remove-button:hover {
    background-color: var(--remove-color-hover);
}

.edit-icon {
    font-size: 22px;
}

.close-icon {
    font-size: 44px;
}

.return-icon {
    font-size: 28px;
}

.edit-icon,
.return-icon,
.close-icon {
    cursor: pointer;
    transition: transform 0.3s;
}

.edit-icon:hover,
.return-icon:hover,
.close-icon:hover {
    transform: scale(1.4);
}

/* =========== Editing recipe =========== */

.recipe-detail input[type="text"],
.recipe-detail textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: inherit;
    background-color: #f9f9f9; 
    color: var(--text-color);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.recipe-detail input[type="text"]:focus,
.recipe-detail textarea:focus {
    outline: none;
    border-color: var(--primary-color); 
    box-shadow: 0 0 5px rgba(142, 192, 9, 0.5); 
}

.recipe-detail input[type="text"] {

}

.recipe-detail textarea {
    min-height: 150px; 
    width: 100%;
}

.save-button {
    font-size: large;
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px; 
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    margin-top: 20px; 
}

.save-button:hover {
    background-color: var(--primary-color-hover);
}

.ingredient-edit-container {
    display: flex;
    align-items: center;
}

.remove-ingredient-button,
.add-ingredient-button {
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.add-ingredient-button {
    background-color: var(--primary-color);
    padding: 5px;
    margin-top: 10px;
}

.remove-ingredient-button {
    background-color: var(--remove-color);
    padding: 10px 15px;
    margin-left: 15px;
}

.remove-ingredient-button:hover {
    background-color: var(--remove-color-hover);
}

.add-ingredient-button:hover {
    background-color: var(--primary-color-hover);
}

/* Recipe image */

.recipe-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.remove-image-button {
    background-color: var(--remove-color);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.remove-image-button:hover {
    background-color: var(--remove-color-hover);
}

input[type="file"] {
    margin-top: 10px;
}

.recipe-preview-image {
    max-width: 100%; 
    height: auto; 
    margin-top: 10px;
    border-radius: 4px; 
    border: 1px solid var(--border-color);
}

.remove-preview-button {
    background-color: var(--remove-color);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.remove-preview-button:hover {
    background-color: var(--remove-color-hover);
}

@media (max-width: 600px) {
    .recipe-detail {
        padding: 20px;
    }

    .recipe-detail input[type="text"],
    .recipe-detail textarea {
        padding: 8px;
    }

    .remove-button,
    .save-button {
        padding: 8px 16px;
    }
}
