/* RecipeListUser.css */

.recipeListUser-div {

}

.recipe-grid-div {

}

.recipe-grid-div h2 {
    margin-left: 30px;
    color: var(--primary-color);
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    padding: 30px;
}

.recipe-grid-item {
    position: relative;
    cursor: pointer;
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.recipe-grid-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.recipe-grid-item .recipe-image {
    position: absolute;
    top: 10px;
    right: 10px; 
    height: 100px; 
    border-radius: 8px;
    object-fit: cover;
    opacity: 0.8;
}

@media (max-width: 600px) {
    .recipe-image {
        height: 60px;
    }
}

.recipe-grid-item h3 {
    margin-top: 0;
    color: var(--primary-color);
}

.recipe-grid-item ul {
    list-style-type: none;
    padding: 0;
}

.recipe-grid-item ul li {
    padding: 5px 0;
    border-bottom: 1px solid var(--border-color);
}

.remove-button {
    background-color: var(--remove-color);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.remove-button:hover {
    background-color: var(--remove-color-hover);
}

.restore-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 8px 12px;
    margin-right: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.restore-button:hover {
    background-color: var(--primary-color-hover);
}

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 30px;
    margin-top: 20px;
}

.search-bar input {
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
}

.search-bar button {
    font-size: x-large;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-bar button:hover {
    background-color: var(--primary-color-hover);
}
